<!--main upload html page where the file is sent in the url as POST request -->
<!--This is where you can add bootstrap or css front end stuff -->
<!--<html>-->
<!--<head>-->
<!--    {% load static %}-->
<!--</head>-->
<!--<body>-->

<!--            <form method="post" enctype="multipart/form-data">-->
<!--                {% csrf_token %}-->
<!--                {{ upload_form.as_p }}-->

<!--                <button type="submit" class="button">Submit Your Photo Here</button>-->

<!--            </form>-->

<!--</body>-->
<!DOCTYPE html>
    {% load static %}
<html lang="en">
<!--    head -->
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Upload</title>
        <link rel="icon" type="image/x-icon" href= "{% static 'moontrek_frontend-main/startbootstrap-grayscale-gh-pages/assets/img/favicon.ico' %}"  />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href= "{% static 'moontrek_frontend-main/startbootstrap-grayscale-gh-pages/css/styles.css' %}" rel="stylesheet"  />
        <link href= '/Volumes/Samsung_T5/MoonTrekTelescopeV2/MoonTrekTelescopeV2/static/moontrek_frontend-main/startbootstrap-grayscale-gh-pages/css/styles.css' rel="stylesheet"  />
 
    </head>

<!--    end head-->


<!--    main body -->
    <body id="page-top">
        <!-- Nav Bar-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top border-bottom border-primary" id="mainNav">
            <div class="container">
                <img src="{% static 'moontrek_frontend-main/startbootstrap-grayscale-gh-pages/assets/img/nasa.png' %}"  alt="" width=50px>

                <a class="navbar-brand js-scroll-trigger" href="#page-top">MoonTrek Telescope 2.0</a>
                 <img src="{% static 'moontrek_frontend-main/startbootstrap-grayscale-gh-pages/assets/img/csula.png' %}"  alt="" width=50px>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href=" {% url 'routeApp:index' %} ">Home</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href=" {% url 'routeApp:upload' %} ">Upload</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="https://github.com/nicocoa10/MoonTrekTelescopeV2#readme">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
<!--        end navbar-->

        <!-- Masthead-->
        <header class="space-background">
            <div class="container-fluid d-flex h-100 align-items-center">
<!--                first panel-->
                <div class="row">
                <div class="mx-auto text-center border-danger border-left border-right border-bottom border-top bg-light col-lg-5">

<!--                    <div class="container-fluid align-items-center border-bottom border-info py-2">-->

<!--                            <a class="mx-2 my-0 text-uppercase btn btn-primary small-button" >Layers</a>-->
<!--                            <a class="mx-2 my-0 text-uppercase btn btn-primary small-button" >Craters</a>-->
<!--                            <a class="mx-2 my-0 text-uppercase btn btn-primary small-button" >Data </a>-->

<!--                    </div>-->

<!--                    text inside boxes-->
<div class= 'spacer'>
                    <div class="container-fluid border-danger border-bottom">
                        <h3>Welcome to Moon Trek Telescope Guide</h3>
                        <div class="popover-content">
                            <span style="font-size: 1.1em;text-align:left;display:inline-block;">
                            Submit your own images of the moon and recieve useful information within the field of view</span>
                        </div>

<!--                        <div class="popover-navigation">-->
<!--                            <button class="btn btn-success" data-role="next">-->
<!--                                <span class="fa fa-check"></span>Start Tutorial-->
<!--                            </button>-->
<!--                            <button class="btn btn-primary" data-role="end" style="float:none;">Skip Tutorial-->
<!--                            </button>-->
<!--                        </div>-->
                                        <!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width slides/quotes -->
  <div class="mySlides">
      <b>Begin by selecting your image of the moon on the right . For best registration results consider : </b>
            <p>- Images of the moon with at least 50% of moon</p>
            <p>- Clear , non blurry images</p>
            <p>- Moon images (This can be from a telescope , camera , etc. as long as it meets above criteria)</p>
      <i>Dont have images of the moon ? Go to the end of the guide for additional content...</i>



  </div>

  <div class="mySlides">
     <b>Now you should be ready to click upload. Our application will attempt image registration. Things to consider: </b>
            <p>- If image registers properly , we are able to annotate your image</p>
            <p>- The next page will allow you to learn further details of your moon's view</p>
            <p>- If registration test fails , then you will have to resubmit a better image</p>
            <i>Dont have images of the moon ? Go to the end of the guide for additional content...</i>
  </div>

  <div class="mySlides">
     <b>Go back in the slideshow if you still want to upload , go to next unless you dont have images to upload:  </b>
            <p>1. Begin by selecting your image of the moon</p>
            <p>2. click upload</p>

      <i>Go to next for additional content...</i>


  </div>

      <div class="mySlides">
     <b>If you dont have images of the moon to use, you could still test some features of our application in a generic 3D model of the moon </b>
          <a class="btn btn-success js-scroll-trigger" href=" {% url 'routeApp:3d_model' %} ">Go to Generic 3D Model</a>


  </div>


</div>

  <!-- Next/prev buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<!-- Dots/bullets/indicators -->
<div class="dot-container">
                                <button class="dot" onclick="currentSlide(1)">
                                <span class="fa fa-check"></span>Guide
                            </button>

</div>
<!--                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->




                    </div>




                </div>
<!--                end first panel-->

</div>

<!--                second panel-->
                <div class="mx-auto text-center border-danger border-left border-right border-bottom border-top bg-light col-lg-5">


                    <h3 class="mx-2 my-0 text-uppercase">Your upload </h3>
                    <p>Use this sample/test img from <a href="https://raw.githubusercontent.com/nicocoa10/MoonTrekTelescopeV2/master/MoonTrekTelescopeV2/media/user_images_raw/001.jpg">here</a></p>
<!--                    <input type ="image" class="moonButton" src="{% static 'moontrek_frontend-main/startbootstrap-grayscale-gh-pages/assets/img/moon1.png' %}"  alt="" width="40%" href="#about">-->
<!--&lt;!&ndash;                    <img src="assets/img/moon1.png" width = "40%">&ndash;&gt;-->
                            <div class="container text-center row-cols-3">
                    <p><input type="file"  accept="image/*" name="image" id="file" class="" onchange="loadFile(event)" style="display: none;"></p>

                                <img src="{% static 'moontrek_frontend-main/startbootstrap-grayscale-gh-pages/assets/img/Moon+placeholder(7sc8BwjeFwY).png' %}" class ="fixedSize moonButton" id ="output" alt="lightMoon" width="80%">

                    </div>

                    <div class ="ring my-4" id="loadingRing"></div>
                    <div class="container-fluid border-danger border-bottom py-2">


                        <form method="post" enctype="multipart/form-data" accept="image/*" name="image" id="file" onchange="loadFile(event)">
                        {% csrf_token %}
                        {{ upload_form.as_p }}

                          <button class ="btn btn-outline-light btn-info wide-button " onclick="spinRing()"type="submit" >
                                 Upload
                            </button>

                        </form>
<!--                            <a class ="btn btn-outline-light wide-button btn-dark">Metadata</a>-->
<!--                        <a class ="btn btn-outline-light btn-info wide-button">Upload</a>-->
                    </div>

                    <br>

                    	<p id="pic-info"></p>
<!--                    <p class="px-auto my-0">EXIF Data : none </p>-->


                </div>
<!--                end second panel-->

                </div>
                </div>
            </div>


        </header>

        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Core theme JS-->
        <script src="/Volumes/Samsung_T5/MoonTrekTelescopeV2/MoonTrekTelescopeV2/static/moontrek_frontend-main/startbootstrap-grayscale-gh-pages/js/scripts.js"></script>
        <script src="{% static 'moontrek_frontend-main/startbootstrap-grayscale-gh-pages/js/scripts.js' %}" ></script>
    </body>
</html>



